.toppy {
  width: 1910px;
  height: 150px;
  background-color: rgb(51, 50, 50);
  border: 1px;
  position: absolute; top: 1px; 

}.lefty {
  width: 150px;
  height: 890px;
  background-color: rgb(175, 173, 173);
  border: 1px;
  float: left;
  position: absolute; top: 80px; 
}

.righty {
  float: right;
  width: 150px;
  height: 890px;
  background-color: rgb(175, 173, 173);
  border: 1px;
  position: absolute; top: 80px; right: 0.1px;
}

.bottom {
  width: 1605px;
  height: 120px;
  background-color: rgb(19, 18, 18);
  border: 1px;
  position: absolute; bottom: 0.1px; left: 150px;
}

